{% paginate collection.products by 8 %}

<!--START HERO-->
<div class="container-fluid">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="brand-image-wrapper">
        {% assign collection_type = collection.description | strip_html | truncate: 15 %}
        {% if collection_type == 'SANA-COLLECT...'%}
          <div><img src="{{ 'sana-brand.png' | asset_url }}" class="img-responsive"/></div>
        {% endif %}
        {% if collection_type == 'NOVV-COLLECT...'%}
          <div><img src="{{ 'sana-brand.png' | asset_url }}" class="img-responsive"/></div>
        {% endif %}
        <span>
          {% assign collection_description = collection.description | strip_html | remove_first: 'SANA-COLLECTION:' %}
          {{ collection_description }}
        </span>
      </div>
    </div>

    <div class="col-sm-8">
      <!--START PRODUCT GRID-->
      {% if collection.products.size > 0 %}
        <div class="row upper-right-row">
          <div class="col-sm-9">
            {% if collection.description.size > 0 %}
            {% include 'collection-sort' %}
            {% endif %}
          </div>
          <div class="col-sm-3">
            {% include 'paging' %}
          </div>
        </div>
        <div class="row">
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% endfor %}
        </div>
      {% else %}
        <p id="no-products">{{ 'collections.general.empty_collection_message' | t }}</p>
      {% endif %}
      <!--END PRODUCT GRID-->
    </div>
  </div>
</div>
<!--END HERO-->


{% endpaginate %}
