<div class="wysiwyg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <ul>
          <li><a href="/#">SANA</a></li>
          <li><a href="/#">LOVE LINER</a></li>
          <li><a href="/#">RIBBON</a></li>
          <li><a href="/#">TIME SECRET</a></li>
          <li><a href="/#">NOV</a></li>
          <li><a href="/#">JAPANESE</a></li>
          <li><a href="/#">VESS</a></li>
        </ul>
      </div>

      <div class="col-sm-7">
        <img src="{{ 'timesecret_visual.jpg' | asset_url }}" class="img-responsive"/>
      </div>

    </div>
  </div>






</div>
