<!-- Content is inside page.content -->
<div class="wysiwyg">
  <div id="awards-page">
    <div class="container">
      <div class="row">

        <div class="col-sm-4">
          <ul class="year-list">
            <li><a id="year-2016-link" class="active" href="#year-2016">2016</a></li>
            <li><a id="year-2015-link" href="#year-2015">2015</a></li>
            <li><a id="year-2014-link" href="#year-2014">2014</a></li>
            <li><a id="year-2013-link" href="#year-2013">2013</a></li>
          </ul>
        </div>

        <div class="col-sm-8">

          <div id="year-2016" style="padding-bottom: 40px;">  <!-- do not delete this -->
            <!-- Copy this section for 2016 award image -->
            <div class="row">
              <div class="col-sm-4">
                <img src="{{ 'award-full.png' | asset_url }}" class="img-responsive"/>
              </div>
            </div>
            <!-- end -->
          </div> <!-- do not delete this -->

          <div id="year-2015" style="padding-bottom: 40px;"> <!-- do not delete this -->
            <div class="row">
              <div class="col-sm-4">
                <img src="{{ 'award-full.png' | asset_url }}" class="img-responsive"/>
              </div>
            </div>
          </div> <!-- do not delete this -->

          <div id="year-2014" style="padding-bottom: 40px;"> <!-- do not delete this -->
            <div class="row">
              <div class="col-sm-4">
                <img src="{{ 'award-full.png' | asset_url }}" class="img-responsive"/>
              </div>
            </div>
          </div> <!-- do not delete this -->

          <div id="year-2013" style="padding-bottom: 40px;"> <!-- do not delete this -->
            <div class="row">
              <div class="col-sm-4">
                <img src="{{ 'award-full.png' | asset_url }}" class="img-responsive"/>
              </div>
            </div>
          </div> <!-- do not delete this -->

        </div>

      </div>
    </div>
  </div>
</div>
